<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Songs</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />

</head>

<body>
	<th:block th:replace="fragments/header :: header"></th:block>
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 text-center">
					<h1 class="mb-3">Best Canzoni</h1>
					<ul class="list-group">
						<li class="list-group-item" th:each="song : ${songs}" th:object="${song}">

							<a th:href="@{/songs/{id} (id=*{id})}">
								<h4>[[*{title}]]</h4>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>